Flask==3.1.1
Flask-Cors==5.0.0

psycopg2-binary==2.9.9
SQLAlchemy[mypy]==2.0.41
Flask-SQLAlchemy==3.0.5
alembic==1.12.1
Flask-Migrate==4.1.0

flask-smorest==0.46.1
marshmallow==4.0.0

pytest==7.4.4
pytest-cov==4.1.0
pytest-flask-sqlalchemy==1.1.0
pytest-mock==3.11.1
